# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.spv
*.props
*.targets
*.xml

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

#IDE
.vs
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Executables
*.exe
!Premake/premake5.exe
*.out
*.app
Output

# Assets
*.cap
packages/
packages.config
